body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, sans-serif;
}

.App {
  width: 100%;
}

/*Navbar*/
.navbar-container {
  height: 15vh;
  color: #ffffff;
  background-color: #f49542;
}

.navbar-top {
  height: 12vh
}

.navbar-title {
  font-size: 1.8em;
  padding: 25px 75px;
}

.navbar-greyspace {
  background-color: #dbdbdb;
  height: 3vh;
}

/*Main Container*/

.main-container {
  padding: 5%;
}

/*Add Contact Form*/

.add-contact-form {
  display: block !important;
  margin-bottom: 15px !important;
  vertical-align: middle !important;
}

.add-contact-form label {
  font-size: 12px;
  margin-bottom: 5px !important;
}

.add-contact-container button {
  height: 34px;
  width: 280px;
}

.form-inline .form-control {
  display: block !important;
}

.form-inline input {
  width: 100% !important;
}

.plus-sign {
  padding-right: 5px;
}

/*Search*/
.search-input {
  display: inline-block;
  min-width: 240px;
}

.search-add-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media ( min-width: 750px) {
  .search-add-pane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
